{
  "openapi" : "3.1.0",
  "info" : {
    "contact" : {
      "email" : "support@cloudquery.io",
      "name" : "CloudQuery Support Team",
      "url" : "https://cloudquery.io"
    },
    "description" : "Welcome to the CloudQuery API documentation! This API can be used to interact with the CloudQuery platform. The API allows you to manage your teams, usage, spend limits, plugins, addons, cloud syncs, and much more.\n\nThe API is secured using bearer tokens. To get started, you can generate an API key from the CloudQuery dashboard. For a step-by-step guide, see: https://docs.cloudquery.io/docs/deployment/generate-api-key.\n\nThe base URL for the API is `https://api.cloudquery.io`.\n",
    "license" : {
      "name" : "MIT",
      "url" : "https://spdx.org/licenses/MIT"
    },
    "termsOfService" : "https://www.cloudquery.io/terms",
    "title" : "CloudQuery OpenAPI Spec",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.cloudquery.io"
  } ],
  "security" : [ {
    "bearerAuth" : [ ]
  } ],
  "tags" : [ {
    "name" : "users"
  }, {
    "name" : "teams"
  }, {
    "name" : "plugins"
  }, {
    "name" : "images"
  }, {
    "name" : "healthcheck"
  }, {
    "name" : "addons"
  }, {
    "name" : "registry"
  }, {
    "name" : "syncs"
  }, {
    "name" : "managed-databases"
  } ],
  "paths" : {
    "/" : {
      "get" : {
        "description" : "Health check endpoint, returns 200",
        "operationId" : "HealthCheck",
        "responses" : {
          "200" : {
            "description" : "Response"
          }
        },
        "security" : [ ],
        "tags" : [ "healthcheck" ]
      }
    },
    "/cq-healthcheck" : {
      "get" : {
        "description" : "Health check endpoint, returns 200",
        "operationId" : "CQHealthCheck",
        "responses" : {
          "200" : {
            "description" : "Response"
          }
        },
        "security" : [ ],
        "tags" : [ "healthcheck" ],
        "x-internal" : true
      }
    },
    "/upload/image" : {
      "post" : {
        "description" : "Get a URL to upload image that will be publicly accessible",
        "operationId" : "UploadImage",
        "parameters" : [ ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImageURL"
                }
              }
            },
            "description" : "Response"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "images" ]
      }
    },
    "/plugin-notification-requests" : {
      "get" : {
        "description" : "List all plugin notification requests",
        "operationId" : "ListPluginNotificationRequests",
        "parameters" : [ {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginNotificationRequests_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Create a new plugin notification request.",
        "operationId" : "CreatePluginNotificationRequest",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginNotificationRequestCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginNotificationRequest"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugin-notification-requests/{plugin_team}/{plugin_kind}/{plugin_name}" : {
      "delete" : {
        "description" : "Remove plugin notification request for a given plugin.",
        "operationId" : "DeletePluginNotificationRequest",
        "parameters" : [ {
          "$ref" : "#/components/parameters/plugin_team"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "Query plugin notification request for a given plugin.",
        "operationId" : "GetPluginNotificationRequest",
        "parameters" : [ {
          "$ref" : "#/components/parameters/plugin_team"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginNotificationRequests_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins" : {
      "get" : {
        "description" : "List all plugins",
        "operationId" : "ListPlugins",
        "parameters" : [ {
          "$ref" : "#/components/parameters/plugin_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPlugins_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Create a plugin owned by the specified team. User must be part of that team.",
        "operationId" : "CreatePlugin",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plugin"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}" : {
      "delete" : {
        "description" : "Delete plugin by team and plugin name",
        "operationId" : "DeletePluginByTeamAndPluginName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "Get details about a given plugin.",
        "operationId" : "GetPlugin",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPlugin"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "patch" : {
        "description" : "Update a plugin",
        "operationId" : "UpdatePlugin",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Plugin"
                }
              }
            },
            "description" : "Updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/upcoming-price-changes" : {
      "delete" : {
        "deprecated" : true,
        "description" : "DEPRECATED. Plugin prices are now managed by category. This endpoint will be removed in the near future and currently returns only empty data.",
        "operationId" : "DeletePluginUpcomingPriceChanges",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Deleted"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "deprecated" : true,
        "description" : "DEPRECATED. Plugin prices are now managed by category. This endpoint will be removed in the near future and currently returns only empty data.",
        "operationId" : "ListPluginUpcomingPriceChanges",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginUpcomingPriceChanges_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "deprecated" : true,
        "description" : "DEPRECATED. Plugin prices are now managed by category. This endpoint will be removed in the near future and currently returns only empty data.",
        "operationId" : "CreatePluginUpcomingPriceChange",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginPriceCreate"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginPrice"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions" : {
      "get" : {
        "description" : "List all versions for a given plugin",
        "operationId" : "ListPluginVersions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/include_drafts"
        }, {
          "$ref" : "#/components/parameters/include_prereleases"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersions_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}" : {
      "get" : {
        "description" : "Get details about a given plugin version.",
        "operationId" : "GetPluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersionDetails"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "patch" : {
        "description" : "Update a given plugin version",
        "operationId" : "UpdatePluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PluginVersionUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create a new plugin version, or update a draft version",
        "operationId" : "CreatePluginVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersion_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Success (the plugin version was updated)"
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginVersion"
                }
              }
            },
            "description" : "Success (the plugin version was created)"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/docs" : {
      "delete" : {
        "description" : "Delete one or more plugin version docs pages.",
        "operationId" : "DeletePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeletePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "List all documentation pages for a given plugin version",
        "operationId" : "ListPluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersionDocs_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Replace (override) multiple plugin version docs pages",
        "operationId" : "ReplacePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionDocs_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create or update one or more plugin version docs pages",
        "operationId" : "CreatePluginVersionDocs",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionDocs_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionDocs_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables" : {
      "delete" : {
        "description" : "Delete one or more plugin version tables.",
        "operationId" : "DeletePluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeletePluginVersionTables_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The resource was deleted successfully."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "get" : {
        "description" : "List tables for a given plugin version. This only applies to source plugins.",
        "operationId" : "ListPluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginVersionTables_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Create or update one or more plugin version tables. This only applies to source plugins, and can only be done if the plugin version is in draft.",
        "operationId" : "CreatePluginVersionTables",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreatePluginVersionTables_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreatePluginVersionTables_201_response"
                }
              }
            },
            "description" : "Successfully created or updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables/{table_name}" : {
      "get" : {
        "description" : "Get schema for a given table and plugin version. This only applies to source plugins.",
        "operationId" : "GetPluginVersionTable",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "table_name",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginTableDetails"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}" : {
      "get" : {
        "description" : "Download an asset for a given plugin version and target",
        "operationId" : "DownloadPluginAsset",
        "parameters" : [ {
          "explode" : false,
          "in" : "header",
          "name" : "Accept",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/target_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginAsset"
                }
              }
            },
            "description" : "Response"
          },
          "302" : {
            "description" : "Response",
            "headers" : {
              "Location" : {
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Get a URL to upload an asset for a given plugin version and target",
        "operationId" : "UploadPluginAsset",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/target_name"
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReleaseURL"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/uiassets" : {
      "delete" : {
        "description" : "Remove UI assets for a given plugin version",
        "operationId" : "RemovePluginUIAssets",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "post" : {
        "description" : "Get URLs to upload UI assets for a given plugin version",
        "operationId" : "UploadPluginUIAssets",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadPluginUIAssets_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UploadPluginUIAssets_201_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      },
      "put" : {
        "description" : "Finalize UI asset upload",
        "operationId" : "FinalizePluginUIAssetUpload",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/FinalizePluginUIAssetUpload_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/addons" : {
      "get" : {
        "description" : "List all addons",
        "operationId" : "ListAddons",
        "parameters" : [ {
          "$ref" : "#/components/parameters/addon_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddons_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "addons" ]
      },
      "post" : {
        "description" : "Create an addon owned by the specified team. User must be part of that team.",
        "operationId" : "CreateAddon",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddonCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Addon"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/addons/{team_name}/{addon_type}/{addon_name}" : {
      "delete" : {
        "description" : "Delete addon by team and addon name",
        "operationId" : "DeleteAddonByTeamAndName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ],
        "x-internal" : true
      },
      "get" : {
        "description" : "Get details about a given addon.",
        "operationId" : "GetAddon",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddon"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "addons" ]
      },
      "patch" : {
        "description" : "Update an Addon",
        "operationId" : "UpdateAddon",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddonUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Addon"
                }
              }
            },
            "description" : "Updated"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/addons/{team_name}/{addon_type}/{addon_name}/versions" : {
      "get" : {
        "description" : "List all versions for a given addon",
        "operationId" : "ListAddonVersions",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_sort_by"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/include_drafts"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddonVersions_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "addons" ]
      }
    },
    "/addons/{team_name}/{addon_type}/{addon_name}/versions/{version_name}" : {
      "get" : {
        "description" : "Get details about a given addon version.",
        "operationId" : "GetAddonVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonVersion"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "security" : [ ],
        "tags" : [ "addons" ]
      },
      "patch" : {
        "description" : "Update a given addon version",
        "operationId" : "UpdateAddonVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddonVersionUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonVersion"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      },
      "put" : {
        "description" : "Create a new addon version, or update a draft version",
        "operationId" : "CreateAddonVersion",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateAddonVersion_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonVersion"
                }
              }
            },
            "description" : "Response"
          },
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonVersion"
                }
              }
            },
            "description" : "Success (the addon version was created)"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/addons/{team_name}/{addon_type}/{addon_name}/versions/{version_name}/assets" : {
      "get" : {
        "description" : "Download an asset for a given version",
        "operationId" : "DownloadAddonAsset",
        "parameters" : [ {
          "explode" : false,
          "in" : "header",
          "name" : "Accept",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonAsset"
                }
              }
            },
            "description" : "Response"
          },
          "302" : {
            "description" : "Response",
            "headers" : {
              "Location" : {
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      },
      "post" : {
        "description" : "Get a URL to upload an asset for a given addon version",
        "operationId" : "UploadAddonAsset",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ReleaseURL"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/teams" : {
      "get" : {
        "description" : "List all teams",
        "operationId" : "ListTeams",
        "parameters" : [ {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeams_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Create a team owned by the current user.",
        "operationId" : "CreateTeam",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTeam_request"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Created"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}" : {
      "delete" : {
        "description" : "Delete team",
        "operationId" : "DeleteTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ],
        "x-internal" : true
      },
      "get" : {
        "description" : "Get a team by name",
        "operationId" : "GetTeamByName",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "patch" : {
        "description" : "Update team attributes",
        "operationId" : "UpdateTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateTeam_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Team"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/images" : {
      "post" : {
        "description" : "Get URLs to upload images for a given team",
        "operationId" : "CreateTeamImages",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CreateTeamImages_request"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CreateTeamImages_201_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/plugins" : {
      "delete" : {
        "description" : "Delete plugins by team",
        "operationId" : "DeletePluginsByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ],
        "x-internal" : true
      },
      "get" : {
        "description" : "List all plugins for the team.",
        "operationId" : "ListPluginsByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/include_private"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListPluginsByTeam_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/teams/{team_name}/addons" : {
      "delete" : {
        "description" : "Delete addons by team",
        "operationId" : "DeleteAddonsByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ],
        "x-internal" : true
      },
      "get" : {
        "description" : "List all addons for the team.",
        "operationId" : "ListAddonsByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        }, {
          "$ref" : "#/components/parameters/include_private"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddonsByTeam_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/teams/{team_name}/addon-orders" : {
      "get" : {
        "description" : "List all addon orders for the team.",
        "operationId" : "ListAddonOrdersByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListAddonOrdersByTeam_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      },
      "post" : {
        "description" : "Start the checkout process for an addon order.",
        "operationId" : "CreateAddonOrderForTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AddonOrderCreate"
              }
            }
          },
          "required" : true
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonOrder"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/teams/{team_name}/addon-orders/{addon_order_id}" : {
      "get" : {
        "description" : "Get an addon order for the team.",
        "operationId" : "GetAddonOrderByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_order_id"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonOrder"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/teams/{team_name}/memberships" : {
      "delete" : {
        "description" : "Remove a user from the team",
        "operationId" : "RemoveTeamMembership",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RemoveTeamMembership_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "get" : {
        "description" : "Get memberships to the team.",
        "operationId" : "GetTeamMemberships",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GetTeamMemberships_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/memberships/{email}" : {
      "delete" : {
        "deprecated" : true,
        "description" : "Remove a user from the team",
        "operationId" : "DeleteTeamMembership",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/email_basic"
        } ],
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/spending-limits" : {
      "delete" : {
        "description" : "Delete a spending limit for a team",
        "operationId" : "DeleteSpendingLimit",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "204" : {
            "description" : "Spending limit deleted."
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "get" : {
        "description" : "Get monthly spending limit for team.",
        "operationId" : "GetSpendingLimit",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpendingLimit"
                }
              }
            },
            "description" : "Spending limit retrieved."
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Create a spending limit for a team",
        "operationId" : "CreateSpendingLimit",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpendingLimitCreate"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpendingLimit"
                }
              }
            },
            "description" : "New spending limit created."
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "put" : {
        "description" : "Update a spending limit for a team",
        "operationId" : "UpdateSpendingLimit",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SpendingLimitUpdate"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpendingLimit"
                }
              }
            },
            "description" : "Spending limit updated."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/invoices" : {
      "get" : {
        "description" : "List all past invoices for the team.",
        "operationId" : "ListInvoicesByTeam",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListInvoicesByTeam_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/usage" : {
      "get" : {
        "description" : "List plugin usage for the current calendar month.",
        "operationId" : "ListTeamPluginUsage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamPluginUsage_200_response"
                }
              }
            },
            "description" : "List plugin usage for the current calendar month."
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Increase the usage of a plugin. This can incur billing costs and should be used only by plugin SDKs.",
        "operationId" : "IncreaseTeamPluginUsage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UsageIncrease"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Success (the plugin usage was increased). It may take some time to reflect in the usage list.",
            "headers" : {
              "x-cq-minimum-update-interval" : {
                "explode" : false,
                "schema" : {
                  "description" : "The minimum interval in seconds between usage updates.",
                  "format" : "int32",
                  "type" : "integer"
                },
                "style" : "simple"
              },
              "x-cq-maximum-update-interval" : {
                "explode" : false,
                "schema" : {
                  "description" : "The maximum interval in seconds before a usage update is forced.",
                  "format" : "int32",
                  "type" : "integer"
                },
                "style" : "simple"
              },
              "x-cq-batch-limit" : {
                "explode" : false,
                "schema" : {
                  "description" : "The number of rows to batch before sending a usage update.",
                  "format" : "int32",
                  "type" : "integer"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          },
          "503" : {
            "$ref" : "#/components/responses/ServiceUnavailable"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/usage/{plugin_team}/{plugin_kind}/{plugin_name}" : {
      "get" : {
        "description" : "Get plugin usage for the current calendar month.",
        "operationId" : "GetTeamPluginUsage",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_team"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageCurrent"
                }
              }
            },
            "description" : "Plugin usage for the current calendar month."
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/usage-summary" : {
      "get" : {
        "description" : "Get a summary of usage for the specified time range.",
        "operationId" : "GetTeamUsageSummary",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "metrics",
          "required" : false,
          "schema" : {
            "default" : [ "paid_rows" ],
            "description" : "A list of metrics to include in the response. Each metric must be one of the predefined valid values. If not provided, only `paid-rows` will be included.",
            "items" : {
              "enum" : [ "paid_rows", "cloud_vcpu_seconds", "cloud_vram_byte_seconds", "network_egress_bytes" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "description" : "A valid ISO-8601-formatted date and time, indicating the inclusive start of the query time range. Defaults to 30 days ago.",
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "end",
          "required" : false,
          "schema" : {
            "description" : "A valid ISO-8601-formatted date and time, indicating the exclusive end of the query time range. Defaults to the current time.",
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "An aggregation period to sum data over. In other words, data will be returned at this granularity. Currently only supports day and month.",
          "explode" : true,
          "in" : "query",
          "name" : "aggregation_period",
          "required" : false,
          "schema" : {
            "default" : "day",
            "enum" : [ "day", "month" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageSummary"
                }
              }
            },
            "description" : "A summary of usage for the specified time range."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/usage-summary/{group_by}" : {
      "get" : {
        "description" : "Get a grouped summary of usage for the specified time range.",
        "operationId" : "GetGroupedTeamUsageSummary",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "explode" : false,
          "in" : "path",
          "name" : "group_by",
          "required" : true,
          "schema" : {
            "description" : "Group by usage summary. `plugin` and `price_category` groupings are only available for `paid-rows`.",
            "enum" : [ "price_category", "plugin", "sync_id" ],
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "metrics",
          "required" : false,
          "schema" : {
            "default" : [ "paid_rows" ],
            "description" : "A list of metrics to include in the response. Each metric must be one of the predefined valid values. If not provided, only `paid-rows` will be included.",
            "items" : {
              "enum" : [ "paid_rows", "cloud_vcpu_seconds", "cloud_vram_byte_seconds", "network_egress_bytes" ],
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "description" : "A valid ISO-8601-formatted date and time, indicating the inclusive start of the query time range. Defaults to 30 days ago.",
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "explode" : true,
          "in" : "query",
          "name" : "end",
          "required" : false,
          "schema" : {
            "description" : "A valid ISO-8601-formatted date and time, indicating the exclusive end of the query time range. Defaults to the current time.",
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "An aggregation period to sum data over. In other words, data will be returned at this granularity. Currently only supports day and month.",
          "explode" : true,
          "in" : "query",
          "name" : "aggregation_period",
          "required" : false,
          "schema" : {
            "default" : "day",
            "enum" : [ "day", "month" ],
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/UsageSummary"
                }
              }
            },
            "description" : "A summary of usage for the specified time range."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/spend" : {
      "get" : {
        "description" : "Get team spend for defined period.",
        "operationId" : "GetTeamSpend",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "description" : "A valid ISO 8601 date string representing the inclusive start of the period.",
          "explode" : true,
          "in" : "query",
          "name" : "start",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        }, {
          "description" : "A valid ISO 8601 date string representing the exclusive end of the period.",
          "explode" : true,
          "in" : "query",
          "name" : "end",
          "required" : false,
          "schema" : {
            "format" : "date-time",
            "type" : "string"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SpendSummary"
                }
              }
            },
            "description" : "Team spend for defined period."
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/plugins/{plugin_team}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}" : {
      "get" : {
        "description" : "Download an asset for a given plugin version as the current team.",
        "operationId" : "DownloadPluginAssetByTeam",
        "parameters" : [ {
          "explode" : false,
          "in" : "header",
          "name" : "Accept",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/plugin_team"
        }, {
          "$ref" : "#/components/parameters/plugin_kind"
        }, {
          "$ref" : "#/components/parameters/plugin_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        }, {
          "$ref" : "#/components/parameters/target_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PluginAsset"
                }
              }
            },
            "description" : "Response"
          },
          "302" : {
            "description" : "Response",
            "headers" : {
              "Location" : {
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "plugins" ]
      }
    },
    "/teams/{team_name}/addons/{addon_team}/{addon_type}/{addon_name}/versions/{version_name}/assets" : {
      "get" : {
        "description" : "Download an asset for a given addon version as the current team.",
        "operationId" : "DownloadAddonAssetByTeam",
        "parameters" : [ {
          "explode" : false,
          "in" : "header",
          "name" : "Accept",
          "required" : false,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/addon_team"
        }, {
          "$ref" : "#/components/parameters/addon_type"
        }, {
          "$ref" : "#/components/parameters/addon_name"
        }, {
          "$ref" : "#/components/parameters/version_name"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AddonAsset"
                }
              }
            },
            "description" : "Response"
          },
          "302" : {
            "description" : "Response",
            "headers" : {
              "Location" : {
                "explode" : false,
                "schema" : {
                  "type" : "string"
                },
                "style" : "simple"
              }
            }
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "429" : {
            "$ref" : "#/components/responses/TooManyRequests"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "addons" ]
      }
    },
    "/teams/{team_name}/invitations" : {
      "delete" : {
        "description" : "Delete an invitation to the team, preventing the user becoming a team member",
        "operationId" : "DeleteTeamInvitation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DeleteTeamInvitation_request"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "Response"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "401" : {
            "$ref" : "#/components/responses/RequiresAuthentication"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "404" : {
            "$ref" : "#/components/responses/NotFound"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "get" : {
        "description" : "List of open invitations to the team",
        "operationId" : "ListTeamInvitations",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        }, {
          "$ref" : "#/components/parameters/page"
        }, {
          "$ref" : "#/components/parameters/per_page"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ListTeamInvitations_200_response"
                }
              }
            },
            "description" : "Response"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      },
      "post" : {
        "description" : "Invite a user to join a team with their email address",
        "operationId" : "EmailTeamInvitation",
        "parameters" : [ {
          "$ref" : "#/components/parameters/team_name"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/EmailTeamInvitation_request"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invitation"
                }
              }
            },
            "description" : "Response"
          },
          "202" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Invitation"
                }
              }
            },
            "description" : "Response, email failed to send"
          },
          "400" : {
            "$ref" : "#/components/responses/BadRequest"
          },
          "403" : {
            "$ref" : "#/components/responses/Forbidden"
          },
          "422" : {
            "$ref" : "#/components/responses/UnprocessableEntity"
          },
          "500" : {
            "$ref" : "#/components/responses/InternalError"
          }
        },
        "tags" : [ "teams" ]
      }
    },
    "/teams/{team_name}/invitations/accept" : {
      "post" : {
        "description" : "Accept an invitation to the team, creating a user membership",
        "operationId" : "AcceptTeamInvitation",
        "parameters" : [ {
[...]
