{
  "openapi": "3.1.0",
  "info": {
    "contact": {
      "email": "support@cloudquery.io",
      "name": "CloudQuery Support Team",
      "url": "https://cloudquery.io"
    },
    "description": "API to interact with CloudQuery Cloud",
    "license": {
      "name": "MIT",
      "url": "https://spdx.org/licenses/MIT"
    },
    "termsOfService": "https://www.cloudquery.io/terms",
    "title": "CloudQuery OpenAPI Spec",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.cloudquery.io/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "users"
    },
    {
      "name": "teams"
    },
    {
      "name": "plugins"
    },
    {
      "name": "uploads"
    },
    {
      "name": "images"
    },
    {
      "name": "healthcheck"
    },
    {
      "name": "limits"
    },
    {
      "name": "usage"
    },
    {
      "name": "addons"
    }
  ],
  "paths": {
    "/": {
      "get": {
        "description": "Health check endpoint, returns 200",
        "operationId": "HealthCheck",
        "responses": {
          "200": {
            "description": "Response"
          }
        },
        "security": [],
        "tags": [
          "healthcheck"
        ]
      }
    },
    "/upload/image": {
      "post": {
        "description": "Get a URL to upload image that will be publicly accessible",
        "operationId": "UploadImage",
        "parameters": [],
        "tags": [
          "uploads",
          "images"
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageURL"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/plugins": {
      "get": {
        "description": "List all plugins",
        "operationId": "ListPlugins",
        "parameters": [
          {
            "$ref": "#/components/parameters/plugin_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/ListPlugin"
                      },
                      "type": "array",
                      "example": [
                        {
                          "name": "aws",
                          "kind": "source",
                          "team_name": "cloudquery",
                          "display_name": "AWS Source Plugin",
                          "category": "cloud-infrastructure",
                          "created_at": "2017-07-14T16:53:42Z",
                          "homepage": "https://cloudquery.io",
                          "logo": "https://images.cloudquery.io/logos/aws.png",
                          "official": true,
                          "short_description": "Sync data from AWS to any destination",
                          "repository": "https://github.com/cloudquery/cloudquery",
                          "tier": "paid",
                          "usd_per_row": "0.00123",
                          "free_rows_per_month": 10000
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "post": {
        "description": "Create a plugin owned by the specified team. User must be part of that team.",
        "operationId": "CreatePlugin",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PluginCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plugin"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}": {
      "get": {
        "description": "Get details about a given plugin.",
        "operationId": "GetPlugin",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plugin"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "patch": {
        "description": "Update a plugin",
        "operationId": "UpdatePlugin",
        "tags": [
          "plugins"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PluginUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plugin"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "description": "Delete plugin by team and plugin name",
        "operationId": "DeletePluginByTeamAndPluginName",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions": {
      "get": {
        "description": "List all versions for a given plugin",
        "operationId": "ListPluginVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_drafts"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginVersion"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}": {
      "get": {
        "description": "Get details about a given plugin version.",
        "operationId": "GetPluginVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersion"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "put": {
        "description": "Create a new plugin version, or update a draft version",
        "operationId": "CreatePluginVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message",
                  "protocols",
                  "supported_targets",
                  "package_type",
                  "checksums"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30000,
                    "description": "A message describing what's new or changed in this version.\nThis message will be displayed to users in the plugin's changelog.\nSupports limited markdown syntax.\n"
                  },
                  "protocols": {
                    "type": "array",
                    "description": "List of protocols supported by this plugin version",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "supported_targets": {
                    "type": "array",
                    "description": "The targets supported by this plugin version, formatted as <os>_<arch>",
                    "example": [
                      "linux_arm64",
                      "darwin_amd64",
                      "windows_amd64"
                    ],
                    "items": {
                      "type": "string"
                    }
                  },
                  "checksums": {
                    "type": "array",
                    "description": "List of SHA-256 checksums for this plugin version, one for each supported target.",
                    "items": {
                      "type": "string"
                    }
                  },
                  "package_type": {
                    "type": "string",
                    "description": "The package type of the plugin assets",
                    "enum": [
                      "native",
                      "docker"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success (the plugin version was updated)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersion"
                }
              }
            }
          },
          "201": {
            "description": "Success (the plugin version was created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      },
      "patch": {
        "description": "Update a given plugin version",
        "operationId": "UpdatePluginVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PluginVersionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/docs": {
      "get": {
        "description": "List all documentation pages for a given plugin version.",
        "operationId": "ListPluginVersionDocs",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginDocsPage"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "put": {
        "description": "Create or update one or more plugin version docs pages.",
        "operationId": "CreatePluginVersionDocs",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "pages"
                ],
                "properties": {
                  "pages": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PluginDocsPageCreate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PluginDocsPageName"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      },
      "delete": {
        "description": "Delete one or more plugin version docs pages.",
        "operationId": "DeletePluginVersionDocs",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "names"
                ],
                "properties": {
                  "names": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PluginDocsPageName"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables": {
      "get": {
        "description": "List tables for a given plugin version. This only applies to source plugins.",
        "operationId": "ListPluginVersionTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/PluginTable"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "put": {
        "description": "Create or update one or more plugin version tables. This only applies to source plugins, and can only be done if the plugin version is in draft.",
        "operationId": "CreatePluginVersionTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tables"
                ],
                "properties": {
                  "tables": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PluginTableCreate"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "names": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/PluginTableName"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      },
      "delete": {
        "description": "Delete one or more plugin version tables.",
        "operationId": "DeletePluginVersionTables",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "names"
                ],
                "properties": {
                  "names": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/PluginTableName"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The resource was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/tables/{table_name}": {
      "get": {
        "description": "Get schema for a given table and plugin version. This only applies to source plugins.",
        "operationId": "GetPluginVersionTable",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "in": "path",
            "name": "table_name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PluginTableDetails"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      }
    },
    "/plugins/{team_name}/{plugin_kind}/{plugin_name}/versions/{version_name}/assets/{target_name}": {
      "get": {
        "description": "Download an asset for a given plugin version and target",
        "operationId": "DownloadPluginAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/target_name"
          }
        ],
        "responses": {
          "302": {
            "description": "Response",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "post": {
        "description": "Get a URL to upload an asset for a given plugin version and target",
        "operationId": "UploadPluginAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          },
          {
            "$ref": "#/components/parameters/target_name"
          }
        ],
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseURL"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      }
    },
    "/addons": {
      "get": {
        "description": "List all addons",
        "operationId": "ListAddons",
        "parameters": [
          {
            "$ref": "#/components/parameters/addon_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Addon"
                      },
                      "type": "array",
                      "example": [
                        {
                          "name": "aws-policies",
                          "team_name": "cloudquery",
                          "display_name": "AWS Policies",
                          "category": "cloud-infrastructure",
                          "created_at": "2017-07-14T16:53:42Z",
                          "homepage": "https://cloudquery.io",
                          "logo": "https://images.cloudquery.io/logos/aws.png",
                          "official": true,
                          "short_description": "Sync data from AWS to any destination",
                          "repository": "https://github.com/cloudquery/cloudquery",
                          "tier": "free",
                          "price_usd": "50",
                          "addon_type": "visualization",
                          "addon_format": "zip"
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "addons"
        ]
      },
      "post": {
        "description": "Create an addon owned by the specified team. User must be part of that team.",
        "operationId": "CreateAddon",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      }
    },
    "/addons/{team_name}/{addon_name}": {
      "get": {
        "description": "Get details about a given addon.",
        "operationId": "GetAddon",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "addons"
        ]
      },
      "patch": {
        "description": "Update an Addon",
        "operationId": "UpdateAddon",
        "tags": [
          "addons"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Addon"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "delete": {
        "description": "Delete addon by team and addon name",
        "operationId": "DeleteAddonByTeamAndName",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      }
    },
    "/addons/{team_name}/{addon_name}/versions": {
      "get": {
        "description": "List all versions for a given addon",
        "operationId": "ListAddonVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_sort_by"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_drafts"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/AddonVersion"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "addons"
        ]
      }
    },
    "/addons/{team_name}/{addon_name}/versions/{version_name}": {
      "get": {
        "description": "Get details about a given addon version.",
        "operationId": "GetAddonVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonVersion"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "plugins"
        ]
      },
      "put": {
        "description": "Create a new addon version, or update a draft version",
        "operationId": "CreateAddonVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "message",
                  "doc",
                  "checksum",
                  "plugin_deps"
                ],
                "properties": {
                  "message": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 30000,
                    "description": "A message describing what's new or changed in this version.\nThis message will be displayed to users in the addon's changelog.\nSupports limited markdown syntax.\n"
                  },
                  "doc": {
                    "type": "string",
                    "description": "Main README in MD format"
                  },
                  "plugin_deps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "plugin dependencies in the format of ['team_name/kind/plugin_name@version']",
                    "minItems": 1
                  },
                  "addon_deps": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "addon dependencies in the format of ['team_name/addon_name@version']"
                  },
                  "checksum": {
                    "type": "string",
                    "description": "SHA-256 checksum for the addon asset"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonVersion"
                }
              }
            }
          },
          "201": {
            "description": "Success (the addon version was created)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      },
      "patch": {
        "description": "Update a given addon version",
        "operationId": "UpdateAddonVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddonVersionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddonVersion"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      }
    },
    "/addons/{team_name}/{addon_name}/versions/{version_name}/assets": {
      "get": {
        "description": "Download a asset for a given version",
        "operationId": "DownloadAddonAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "302": {
            "description": "Response",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "security": [],
        "tags": [
          "addons"
        ]
      },
      "post": {
        "description": "Get a URL to upload an asset for a given addon version",
        "operationId": "UploadAddonAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/addon_name"
          },
          {
            "$ref": "#/components/parameters/version_name"
          }
        ],
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseURL"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      }
    },
    "/teams": {
      "get": {
        "description": "List all teams",
        "operationId": "ListTeams",
        "parameters": [
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Team"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "users"
        ]
      },
      "post": {
        "description": "Create a team owned by the current user.",
        "operationId": "CreateTeam",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "name",
                  "display_name"
                ],
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/TeamName"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "The team's display name",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            },
            "description": "Created"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams"
        ]
      }
    },
    "/teams/{team_name}": {
      "get": {
        "description": "Get a team by name",
        "operationId": "GetTeamByName",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams"
        ]
      },
      "patch": {
        "description": "Update team attributes",
        "operationId": "UpdateTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "display_name": {
                    "type": "string",
                    "description": "The team's display name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Team"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams"
        ]
      }
    },
    "/teams/{team_name}/plugins": {
      "get": {
        "description": "List all plugins for the team.",
        "operationId": "ListPluginsByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_private"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Plugin"
                      },
                      "type": "array",
                      "example": [
                        {
                          "name": "aws-source",
                          "kind": "source",
                          "team_name": "cloudquery",
                          "display_name": "AWS Source Plugin",
                          "category": "cloud-infrastructure",
                          "created_at": "2017-07-14T16:53:42Z",
                          "homepage": "https://cloudquery.io",
                          "logo": "https://images.cloudquery.io/logos/aws.png",
                          "official": true,
                          "short_description": "Sync data from AWS to any destination",
                          "repository": "https://github.com/cloudquery/cloudquery",
                          "tier": "paid",
                          "usd_per_row": "0.00123",
                          "free_rows_per_month": 10000
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "plugins"
        ]
      },
      "delete": {
        "description": "Delete plugins by team",
        "operationId": "DeletePluginsByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins"
        ]
      }
    },
    "/teams/{team_name}/addons": {
      "get": {
        "description": "List all addons for the team.",
        "operationId": "ListAddonsByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/include_private"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/Addon"
                      },
                      "type": "array",
                      "example": [
                        {
                          "name": "aws-policies",
                          "team_name": "cloudquery",
                          "display_name": "AWS Policies",
                          "category": "cloud-infrastructure",
                          "created_at": "2017-07-14T16:53:42Z",
                          "homepage": "https://cloudquery.io",
                          "logo": "https://images.cloudquery.io/logos/aws.png",
                          "official": true,
                          "short_description": "AWS policies",
                          "repository": "https://github.com/cloudquery/cloudquery",
                          "tier": "paid",
                          "price_usd": "50",
                          "addon_type": "visualization",
                          "addon_format": "zip"
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "addons"
        ]
      },
      "delete": {
        "description": "Delete addons by team",
        "operationId": "DeleteAddonsByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "addons"
        ]
      }
    },
    "/teams/{team_name}/memberships": {
      "get": {
        "description": "Get memberships to the team.",
        "operationId": "GetTeamMemberships",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/MembershipWithUser"
                      },
                      "type": "array",
                      "example": [
                        {
                          "role": "admin",
                          "user": {
                            "created_at": "2017-07-14T16:53:42Z",
                            "email": "user@clouduery.io",
                            "name": "user",
                            "updated_at": "2017-07-14T16:53:42Z"
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "users"
        ]
      }
    },
    "/teams/{team_name}/monthly-limits": {
      "get": {
        "description": "List all monthly limits for the team.",
        "operationId": "ListMonthlyLimitsByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "List of monthly limits for the team.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/MonthlyLimit"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "limits"
        ]
      },
      "post": {
        "description": "Create a monthly limit for a plugin",
        "operationId": "CreateMonthlyLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonthlyLimitCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New monthly limit created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "limits"
        ]
      }
    },
    "/teams/{team_name}/monthly-limits/{plugin_team}/{plugin_kind}/{plugin_name}": {
      "get": {
        "description": "Get a monthly limit for a plugin",
        "operationId": "GetMonthlyLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_team"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Monthly limit retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyLimit"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "limits"
        ]
      },
      "put": {
        "description": "Update a monthly limit for a plugin",
        "operationId": "UpdateMonthlyLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_team"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MonthlyLimitUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monthly limit updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonthlyLimit"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "limits"
        ]
      },
      "delete": {
        "description": "Delete a monthly limit for a plugin",
        "operationId": "DeleteMonthlyLimit",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_team"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Monthly limit deleted."
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "limits"
        ]
      }
    },
    "/teams/{team_name}/usage": {
      "get": {
        "description": "List plugin usage for the current calendar month.",
        "operationId": "ListTeamPluginUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "List plugin usage for the current calendar month.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/UsageCurrent"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "usage"
        ]
      },
      "post": {
        "description": "Increase the usage of a plugin. This can incur billing costs and should be used only by plugin SDKs.",
        "operationId": "IncreaseTeamPluginUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UsageIncrease"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plugin usage for the current calendar month.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageCurrent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "usage"
        ]
      }
    },
    "/teams/{team_name}/usage/{plugin_team}/{plugin_kind}/{plugin_name}": {
      "get": {
        "description": "Get plugin usage for the current calendar month.",
        "operationId": "GetTeamPluginUsage",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/plugin_team"
          },
          {
            "$ref": "#/components/parameters/plugin_kind"
          },
          {
            "$ref": "#/components/parameters/plugin_name"
          }
        ],
        "responses": {
          "200": {
            "description": "Plugin usage for the current calendar month.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageCurrent"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "plugins",
          "usage"
        ]
      }
    },
    "/teams/{team_name}/invitations": {
      "get": {
        "operationId": "ListTeamInvitations",
        "description": "List of open invitations to the team",
        "tags": [
          "teams",
          "users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Invitation"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "operationId": "EmailTeamInvitation",
        "description": "Invite a user to join a team with their email address",
        "tags": [
          "teams",
          "users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "role"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "admin",
                      "member"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/teams/{team_name}/invitations/accept": {
      "post": {
        "operationId": "AcceptTeamInvitation",
        "description": "Accept an invitation to the team, creating a user membership",
        "tags": [
          "teams",
          "users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "token"
                ],
                "properties": {
                  "token": {
                    "type": "string",
                    "format": "uuid"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The invitation has been accepted and the authenticated user is now a member of the team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipWithTeam"
                }
              }
            }
          },
          "303": {
            "description": "The authenticated user is already a member of this team.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MembershipWithTeam"
                }
              }
            }
          },
          "403": {
            "description": "You do not have an invitation to join this team.",
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/teams/{team_name}/invitations/{email}": {
      "delete": {
        "operationId": "CancelTeamInvitation",
        "description": "Cancel an invitation to the team, preventing the user becoming a team member",
        "tags": [
          "teams",
          "users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/email"
          }
        ],
        "responses": {
          "204": {
            "description": "Response"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/teams/{team_name}/users": {
      "get": {
        "description": "List all users in the current team.",
        "operationId": "ListUsersByTeam",
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/User"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "users"
        ]
      }
    },
    "/user": {
      "get": {
        "description": "Get the current authenticated user from the OAuth token\n",
        "operationId": "GetCurrentUser",
        "parameters": [],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "users"
        ]
      },
      "patch": {
        "description": "Update attributes for the current authenticated user from the OAuth token",
        "operationId": "UpdateCurrentUser",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "The user's name",
                    "minLength": 1,
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/User"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "405": {
            "$ref": "#/components/responses/MethodNotAllowed"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "users"
        ]
      }
    },
    "/user/invitations": {
      "get": {
        "operationId": "ListCurrentUserInvitations",
        "description": "List of the current user's unaccepted invitations",
        "tags": [
          "teams",
          "users"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/InvitationWithToken"
                      }
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/user/memberships": {
      "get": {
        "description": "Get memberships that the user has accepted.",
        "operationId": "GetCurrentUserMemberships",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "metadata",
                    "items"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/MembershipWithTeam"
                      },
                      "type": "array",
                      "example": [
                        {
                          "role": "admin",
                          "team": {
                            "created_at": "2017-07-14T16:53:42Z",
                            "name": "cloudquery",
                            "display_name": "CloudQuery"
                          }
                        }
                      ]
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            },
            "description": "Response"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        },
        "tags": [
          "teams",
          "users"
        ]
      }
    },
    "/teams/{team_name}/apikeys": {
      "get": {
        "description": "List all team API Keys",
        "operationId": "ListTeamAPIKeys",
        "tags": [
          "teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "items",
                    "metadata"
                  ],
                  "properties": {
                    "items": {
                      "items": {
                        "$ref": "#/components/schemas/APIKey"
                      },
                      "type": "array"
                    },
                    "metadata": {
                      "$ref": "#/components/schemas/ListMetadata"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      },
      "post": {
        "description": "Create new team API Key. This is useful in CI",
        "operationId": "CreateTeamAPIKey",
        "tags": [
          "teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "expires_at",
                  "role",
                  "name"
                ],
                "properties": {
                  "name": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "expires_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "scope": {
                    "$ref": "#/components/schemas/APIKeyScope"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/teams/{team_name}/apikeys/{apikey_name}": {
      "delete": {
        "description": "Delete API Key. This will remove any future access by this API Key.",
        "operationId": "DeleteTeamAPIKey",
        "tags": [
          "teams"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/team_name"
          },
          {
            "$ref": "#/components/parameters/apikey_name"
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/RequiresAuthentication"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    },
    "schemas": {
      "ImageURL": {
        "properties": {
          "upload_url": {
            "type": "string",
            "example": "https://cloudquery.io/api/v1/upload/1234567890abcdef1234567890abcdef"
          },
          "download_url": {
            "type": "string",
            "example": "https://cloudquery.io/api/v1/download/1234567890abcdef1234567890abcdef"
          }
        },
        "required": [
          "upload_url",
          "download_url"
        ]
      },
      "BasicError": {
        "additionalProperties": false,
        "description": "Basic Error",
        "required": [
          "message",
          "status"
        ],
        "properties": {
          "message": {
            "type": "string"
          },
          "status": {
            "type": "integer"
          }
        },
        "title": "Basic Error",
        "type": "object"
      },
      "TeamName": {
        "description": "The unique name for the team.",
        "maxLength": 255,
        "pattern": "^[a-z](-?[a-z0-9]+)+$",
        "type": "string",
        "example": "cloudquery"
      },
      "PluginName": {
        "description": "The unique name for the plugin.",
        "maxLength": 255,
        "pattern": "^[a-z](-?[a-z0-9]+)+$",
        "type": "string",
        "example": "aws-source"
      },
      "PluginKind": {
        "description": "The kind of plugin, ie. source or destination.",
        "type": "string",
        "example": "source",
        "enum": [
          "source",
          "destination"
        ]
      },
      "PluginCategory": {
        "description": "Supported categories for plugins",
        "type": "string",
        "enum": [
          "cloud-infrastructure",
          "databases",
          "sales-marketing",
          "engineering-analytics",
          "other"
        ]
      },
      "PluginTier": {
        "description": "Supported tiers for plugins",
        "type": "string",
        "enum": [
          "free",
          "paid"
        ]
      },
      "Plugin": {
        "additionalProperties": false,
        "description": "CloudQuery Plugin",
        "properties": {
          "team_name": {
            "$ref": "#/components/schemas/TeamName"
          },
          "name": {
            "$ref": "#/components/schemas/PluginName"
          },
          "kind": {
            "$ref": "#/components/schemas/PluginKind"
          },
          "category": {
            "$ref": "#/components/schemas/PluginCategory"
          },
          "created_at": {
            "example": "2017-07-14T16:53:42Z",
            "format": "date-time",
            "type": "string"
          },
          "homepage": {
            "type": "string",
            "example": "https://cloudquery.io"
          },
          "logo": {
            "type": "string",
            "example": "https://images.cloudquery.io/logos/aws.png"
          },
          "display_name": {
            "description": "The plugin's display name",
            "type": "string",
            "minLength": 1,
            "maxLength": 50,
            "example": "AWS Source Plugin"
          },
          "official": {
            "description": "True if the plugin is maintained by CloudQuery, false otherwise",
            "type": "boolean"
          },
          "repository": {
            "type": "string",
            "example": "https://github.com/cloudquery/cloudquery"
          },
          "short_description": {
            "type": "string",
            "minLength": 1,
            "maxLength": 512,
            "example": "Sync data from AWS to any destination"
          },
          "tier": {
            "$ref": "#/components/schemas/PluginTier"
          },
          "public": {
            "description": "Whether the plugin is listed in the CloudQuery Hub. If false, the plugin will not be shown in the CloudQuery Hub and will only be visible to members of the plugin's team.",
            "type": "boolean"
          },
          "usd_per_row": {
            "type": "string",
            "pattern": "^\\d+(?:\\.\\d{1,10})?$",
            "description": "The price per row in USD. This is used to calculate the price of a sync.",
            "example": "0.0001",
            "x-go-name": "USDPerRow"
          },
          "free_rows_per_month": {
            "type": "integer",
            "format": "int64",
            "description": "The number of rows that can be synced for free each month.",
            "example": 1000
          }
        },
        "required": [
          "team_name",
          "name",
          "kind",
          "category",
          "created_at",
          "logo",
          "display_name",
          "official",
          "short_description",
          "tier",
          "usd_per_row",
          "free_rows_per_month"
        ],
        "title": "CloudQuery Plugin",
        "type": "object"
      },
      "VersionName": {
        "type": "string",
        "description": "The version in semantic version format.",
        "pattern": "^v[0-9]+\\.[0-9]+\\.[0-9]+(-[0-9A-Za-z-]+(\\.[0-9A-Za-z-]+)*)?(\\+[0-9A-Za-z-]+(\\.[0-9A-Za-z-]+)*)?$"
      },
      "ListPlugin": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plugin"
          },
          {
            "type": "object",
            "properties": {
              "latest_version": {
                "$ref": "#/components/schemas/VersionName"
              }
            }
          }
        ]
      },
      "ListMetadata": {
        "properties": {
          "total_count": {
            "type": "integer"
          },
          "last_page": {
            "type": "integer"
          }
        }
      },
      "PluginCreate": {
        "type": "object",
        "required": [
          "team_name",
          "kind",
          "name",
          "category",
          "tier",
          "display_name",
          "short_description",
          "logo",
          "public"
        ],
        "properties": {
          "team_name": {
            "$ref": "#/components/schemas/TeamName"
          },
          "kind": {
            "$ref": "#/components/schemas/PluginKind"
          },
[...]
